header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
}
header .logo {
  font-size: 2rem;
  color: blue;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #e3e8f6;
}
header ul {
  display: flex;
  list-style: none;
}
header li {
  margin-right: 1rem;
}
.container {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  padding: 1rem;
  flex-wrap: wrap;
}
.container .box {
  width: 150px;
  right: 150px;
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  flex-grow: 1;
  margin: 0.5rem;
  min-width: 220px;
}
.box a {
  text-decoration: none;
  background-color: blue;
  padding: 6px 15px;
  border-radius: 1rem;
  color: white;
  transition: 0.3s;
  border: 1px solid blue;
}
.box a:hover {
  background-color: white;
  color: blue;
}
.box p {
  margin-bottom: 1rem;
}
.box:hover {
  background-color: blue;
}
.box:hover p,
.box:hover h3 {
  color: white;
}
.box:hover a {
  background-color: white;
  color: blue;
}
